<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
    <div class="container justify-content-center col-md-11 my-4">
        <div class="jumbotron bg-forms d-flex justify-content-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <h1 class="text-danger">Sorry, there was a problem with your request!</h1>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <p ></p>
                </div>
            </div>

        </div>
    </div>

    </main>

</div>
</body>
</html>