<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div class="container mt-4">
            <h1>All Viruses</h1>
            <table class="table mt-3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Magnitude</th>
                    <th scope="col">Released On</th>
                    <th scope="col">Actions</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="virus, iter : ${viruses}">
                <tr>
                    <td scope="col" th:text="${iter.index + 1}"></td>
                    <td scope="col" th:text="${virus.name}"></td>
                    <td scope="col"th:text="${virus.magnitude}"></td>
                    <td scope="col"th:text="${virus.releasedOn}"></td>
                    <td scope="col"><a class="btn btn-info"  th:href="@{/viruses/edit/{id}(id=${virus.id})}" th:text="Edit"></a></td>
                    <td scope="col"><a class="btn btn-info"  th:href="@{/viruses/delete/{id}(id=${virus.id})}" th:text="Delete"></a></td>
                </tr>
                </th:block>
                </tbody>
            </table>
            </form>
        </div>
    </main>
</div>
</body>
</html>
