<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div class="container mt-4">
            <h1>All Viruses</h1>
            <form th:action="@{/viruses/show}" method="get" th:object="${viewModel}">
            <table class="table mt-3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Magnitude</th>
                    <th scope="col">Released On</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="virus : ${viruses}">
                <tr>
                    <th scope="row">1</th>
                    <td th:text="${virus.name}"></td>
                    <td th:text="${virus.magnitude}"></td>
                    <td th:text="${virus.releasedOn}"></td>
                    <td><a type="button" class="btn btn-light">Edit</a></td>
                    <td><a type="button" th:href="@{/delete/{id}(id=${virus.id})}" class="btn btn-light">Delete</a></td>
                </tr>
                </th:block>
                </tbody>
            </table>
            </form>
        </div>
    </main>
</div>
</body>
</html>
